<section class="container-fluid content">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1><%= title %></h1>
                <p>Welcome to <%= title %></p>
                <ul>
                    <% for (const post of posts) { %>
                        <li class="post">
                            <% if (post.photo) { %>
                                <div class="post__photo"><%- post.photo %></div>
                            <% } %>
                            <div class="post__content"><%- post.html %></div>
                            <div class="post__content"><%- JSON.stringify(post.content) %></div>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</section>
