<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<ul>
    <% for (const post of posts) { %>
        <li><%= post.id %><%= JSON.stringify(post.content) %></li>
    <% } %>
</ul>
</body>
</html>
